body{
  background-color: darkcyan;
}

#itemHolder {
  margin-top: 3%;
  margin-bottom: 3%;
  width: max-content;
  padding: 3px;
}

#addItem{
  margin-top: 3%;
  width: 300px;
}

#card{
  margin-top: 8%;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 10px 5%;
}

#deleteButton{
  border: 1px solid black;
}

#deleteButton:hover{
  background-color: red;
  border: 3px solid black;
 
}
